@model Dmc.Cms.Web.ViewModels.SearchViewModel

@{
    var appConfig = Html.GetAppConfig();
    string page = Model.Results.TotalPages > 1 ? string.Format(" | (Page {0} of {1})", Model.Results.PageIndex, Model.Results.TotalPages) : String.Empty;
    ViewBag.Title = string.Format("Search Results for: '{0}'{1}", Model.SearchQuery, page);
    var imageInfo = ImageInfoProvider.GetImageInfo(appConfig.SiteResources.DefaultOpenGraphImage);
}

<div class="postcontent nobottommargin clearfix">
    <div id="posts">
        <h2>@Model.NumberOfResults search @(Model.NumberOfResults == 1 ? "result" : "results") for '@Model.SearchQuery'</h2>
        @foreach (var item in Model.Results.Entities)
        {
            Html.RenderPartial("Partials/_SingleSearchResultPartial", item);
        }
    </div>
    @if (Model.Results.TotalPages > 1)
    {
        <div class="row mb-3">
            <div class="col-12">
                @if (Model.Results.HasPreviousPage)
                {
                    <a href="@Url.Action("index", "search", new { page = Model.Results.PageIndex - 1, q = Model.SearchQuery })" class="btn btn-outline-secondary float-left">&larr; Newer</a>
                }
                @if (Model.Results.HasNextPage)
                {
                    <a href="@Url.Action("index", "search", new { page = Model.Results.PageIndex + 1, q = Model.SearchQuery })" class="btn btn-outline-dark float-right">Older &rarr;</a>
                }
            </div>
        </div>
    }
</div>

@section PageTitle
{
    <section id="page-title">
        <div class="container clearfix">
            <h1>@appConfig.SiteSettings.Name</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Content("~/")">Home</a></li>
                <li class="breadcrumb-item active">Search results for: @Model.SearchQuery</li>
            </ol>
        </div>
    </section>
}

@section seo
{
    @if (Model.Results.HasPreviousPage)
    {
        <link rel="prev" href="@Url.Action("index", "default", new { page = Model.Results.PageIndex - 1, q = Model.SearchQuery })" />
    }
    @if (Model.Results.HasNextPage)
    {
        <link rel="next" href="@Url.Action("index", "default", new { page = Model.Results.PageIndex + 1, q = Model.SearchQuery })" />
    }
    @if (imageInfo != null)
    {
        <meta property="og:image:height" content="@imageInfo.Height">
        <meta property="og:image:width" content="@imageInfo.Width">
    }
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:site_name" content="@appConfig.SiteSettings.Name" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Url.AbsoluteAction("index", "search", new { page = Model.Results.PageIndex, q = Model.SearchQuery })" />
    <meta property="og:image" content="@(Url.AbsoluteContent(appConfig.SiteResources.DefaultOpenGraphImage))" />
    <meta property="og:description" content="Search results for: @Model.SearchQuery" />
    <meta name="description" content="Search results for: @Model.SearchQuery" />
}