<ul class="nav nav-list">

    <li class="nav-header">Apps</li>
    <li class="app-index">@Html.ActionLink("Browse Apps", "index", "app")</li>
    <li class="app-create">@Html.ActionLink("New App", "create", "app")</li>

    <li class="nav-header">Advertisements</li>
    <li class="category-index">@Html.ActionLink("Browse Advertisements", "index", "Advertisement")</li>
    <li class="category-create">@Html.ActionLink("New Advertisement", "create", "Advertisement")</li>

    <li class="nav-header">Images</li>
    <li class="category-index">@Html.ActionLink("Browse Images", "index", "image")</li>
    <li class="category-create">@Html.ActionLink("New Image", "create", "image")</li>

    <li class="nav-header">Categories</li>
    <li class="category-index">@Html.ActionLink("Browse Categories", "index", "category")</li>
    <li class="category-create">@Html.ActionLink("New Category", "create", "category")</li>

    <li class="nav-header">Posts</li>
    <li class="post-index">@Html.ActionLink("Browse Posts", "index", "post")</li>
    <li class="post-create">@Html.ActionLink("New Post", "create", "post")</li>

    <li class="nav-header">Comments</li>
    <li class="comment-index">@Html.ActionLink("Browse Comments", "index", "comment")</li>

    <li class="nav-header">Pages</li>
    <li class="category-index">@Html.ActionLink("Browse Pages", "index", "page")</li>
    <li class="category-create">@Html.ActionLink("New Page", "create", "page")</li>

    <li class="nav-header">Tags</li>
    <li class="category-index">@Html.ActionLink("Browse Tags", "index", "tag")</li>
    <li class="category-create">@Html.ActionLink("New Tag", "create", "tag")</li>

    <li class="nav-header">Events</li>
    <li class="category-index">@Html.ActionLink("Browse Events", "index", "event")</li>
    <li class="category-create">@Html.ActionLink("New Event", "create", "event")</li>

    <li class="nav-header">Contact Queries</li>
    <li class="contact-index">@Html.ActionLink("Browse Contact Queries", "index", "contactquery")</li>

    <li class="nav-header">Management</li>
    <li class="config-SiteSettings">@Html.ActionLink("Site Settings", "SiteSettings", "config")</li>
    <li class="config-SiteSettings">@Html.ActionLink("Site Resources", "SiteResources", "config")</li>
    <li class="config-SiteSettings">@Html.ActionLink("Content Settings", "ContentSettings", "config")</li>
    <li class="config-EmailSettings">@Html.ActionLink("E-mail Settings", "EmailSettings", "config")</li>
    <li class="config-SocialLinks">@Html.ActionLink("External Logins", "ExternalLoginSettings", "config")</li>
    <li class="config-SocialLinks">@Html.ActionLink("Social Links", "SocialLinks", "config")</li>
</ul>

<script>
    var adminMenuNavigation = {
        c: '@ViewBag.Controller',
        a: '@ViewBag.ActionName'
    };
</script>