@model Dmc.Cms.Web.ViewModels.AddPasswordViewModel

@{
    ViewBag.Title = "Create Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

    <div class="postcontent nobottommargin clearfix">
        <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">

            <div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-lock"></i>@ViewBag.Title</div>
            <div class="acc_content clearfix">

                @using (Html.BeginForm("AddPassword", "Account", new { }, FormMethod.Post, new { @id = "login-form", @class = "nobottommargin", autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Partial("Partials/_MessagesPartial")
                    @Html.Partial("Partials/_HoneyPotPartial")

                    <div class="col_full">
                        @Html.LabelFor(o => o.Password)
                        @Html.PasswordFor(o => o.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(o => o.Password, "", new { @class = "help-block text-danger formError" })
                    </div>

                    <div class="col_full">
                        @Html.LabelFor(o => o.ConfirmPassword)
                        @Html.PasswordFor(o => o.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(o => o.ConfirmPassword, "", new { @class = "help-block text-danger formError" })
                    </div>

                    <div class="col_full">
                        <button class="button button-3d button-black nomargin" name="change-password-form-submit" value="createpassword">Create Password</button>
                    </div>
                }

            </div>

        </div>
    </div>

@section PageTitle
{
    <div class="clearfix"></div>
    <section id="page-title">
        <div class="container clearfix">
            <h1>Create password</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Account")">Account</a></li>
                <li class="breadcrumb-item active">Create password</li>
            </ol>
        </div>
    </section>
}

@section scripts{
    <script>
        (function ($) {
            $('#@Html.IdFor(o => Model.Password)').focus();
        }(jQuery));
    </script>
}