@model Dmc.Cms.Web.ViewModels.AssociateExternalLoginViewModel

@{
    ViewBag.Title = "Associate External Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="postcontent nobottommargin clearfix">
    <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">

        <div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-lock"></i>@ViewBag.Title</div>
        <div class="acc_content clearfix">

            @using (Html.BeginForm("AssociateExternalLogin", "Account", new { }, FormMethod.Post, new { @id = "login-form", @class = "nobottommargin", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("Partials/_MessagesPartial")
                @Html.Partial("Partials/_HoneyPotPartial")

                if (Model.AllowedToAssociate)
                {
                    <p>
                        Once you associate your account, you will be able to login to this site using that service.
                    </p>

                    <div class="style-msg infomsg noCookiesWarning">
                        <div class="sb-msg">You will need to <strong><em>allow cookies</em></strong> for this to work.</div>
                        <div class="sb-msg"><a href="#" class="iubenda-advertising-preferences-link">Manage cookie settings</a>.</div>
                    </div>

                    <p>
                        We will <strong><em>never</em></strong> post as you, pretend to be you or sell this info to others.
                    </p>

                    <div class="amazonElement fbElement">
                        <div class="col_full">
                            @if (Model.AvailableProviders.Contains(ExternalLoginKeys.Amazon, StringComparer.OrdinalIgnoreCase))
                            {
                                <div class="amazonLogin amazonElement" style="display:none;">
                                    <a href="#" class="loginWithAmazon">
                                        <img border="0" alt="Login with Amazon"
                                             src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
                                             width="156" height="32" />
                                    </a>
                                </div>
                            }
                            @if (Model.AvailableProviders.Count > 1)
                            {
                                <span class="d-none d-md-block">&nbsp;</span>
                            }
                            @if (Model.AvailableProviders.Contains(ExternalLoginKeys.Facebook, StringComparer.OrdinalIgnoreCase))
                            {
                                <div class="fbLogin fbElement" style="display:none;">
                                    <div class="fb-login-button" scope="public_profile,email" onlogin="associateFb();" data-width="" data-size="medium" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
                                </div>
                            }
                        </div>
                    </div>

                    <p>
                        You <strong><em>always</em></strong> can <strong><em>delete</em></strong> this association from your profile.
                    </p>
                    <p>
                        For more information, take a look at our <a href="@(Url.AbsoluteAction("details", "page", new { slug = "privacy-policy" }))" target="_blank">privacy</a>
                        and <a href="@(Url.AbsoluteAction("details", "page", new { slug = "cookie-policy" }))" target="_blank">cookie</a> policies.
                    </p>
                }
                else
                {
                    <p>
                        You <strong><em>always</em></strong> can <strong><em><a href="@Url.Action("ManageExternalLogins", "Account")">delete</a></em></strong> an association from your profile.
                    </p>
                    <p>
                        For more information, take a look at our <a href="@(Url.AbsoluteAction("details", "page", new { slug = "privacy-policy" }))" target="_blank">privacy</a>
                        and <a href="@(Url.AbsoluteAction("details", "page", new { slug = "cookie-policy" }))" target="_blank">cookie</a> policies.
                    </p>
                }
            }

        </div>

    </div>
</div>

@section PageTitle
{
    <div class="clearfix"></div>
    <section id="page-title">
        <div class="container clearfix">
            <h1>Associate External Login</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Account")">Account</a></li>
                <li class="breadcrumb-item active">Associate External Login</li>
            </ol>
        </div>
    </section>
}